version: "3"
services:
  truenas-sync-poc:
    container_name: truenas-sync-poc
    build: .
    ports:
      - "3003:3000"
    environment:
      # Update with your NAS IP/Domain
      - TRUENAS_API_URL=https://truenas.portal/api/v2.0
      # Base64 encoded Basic Auth token
      - TRUENAS_API_TOKEN=dnZhZG1pbjp2dmFkbWluQDIwMjU=
      # IMPORTANT: Must match the URL you use to access the app in browser
      - NEXTAUTH_URL=http://vvault-rnd.local:3003
      - NEXT_PUBLIC_APP_URL=http://vvault-rnd.local:3003
    extra_hosts:
      - "truenas.portal:host-gateway"
    restart: unless-stopped
